# Ignore virtual environment
venv/

# Ignore database
instance/neuralearn.db

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore migrations cache
migrations/

# Ignore environment config
.env

